
.background-image {
    /*background-image: url('/resources/images/register_backgroound.jpg');*/
    background-size: cover;
    display: block;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
    opacity: 0.3;
}
body{
    background-color: #f6f6f680;
}

.form-row {
    margin-left: 30px;
    margin-right: 30px;
}
/*
img.blur {
    filter: blur(20px);
}*/
