<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title >Activity Form</title>
    <!--<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">-->
    <link rel='stylesheet'

          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
          <!--<link rel='stylesheet' src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" >-->
    <link rel='stylesheet'

          th:href="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css}">

          <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous" ></script>-->
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous" ></script>-->
    <script
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>-->
    <script
            th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" ></script>-->
    <script

            th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js}"></script>

    <link rel="stylesheet" href="/webapp/resources/css/activity_form.css" />
    <link rel="stylesheet"  th:href="@{/resources/css/activity_form.css}"/>



</head>
<body>
<script >
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<div th:replace="fragments/header :: header">
<!--<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Happy Weekend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            &lt;!&ndash;<div class="nav-collapse collapse">&ndash;&gt;

            <li class="nav-item active"><a class="nav-link"  th:href="@{/}">Home</a></li>
            <li class="nav-item "><a class="nav-link" th:href="@{/activity}">New Activity</a></li>
            <li class="nav-item active"><a class="nav-link" th:href="@{/activity/search}">Search Activity</a></li>

            &lt;!&ndash;</div>&ndash;&gt;
        </ul>
    </div>
</div>-->
</div>
<!--<div class="alert alert-danger" role="alert">

    <div th:errors="${registerForm.*}">

    </div>


    <div th:if="${#fields.hasErrors('${registerForm.*}')}">
        <table>
            <tr th:each="var : ${#vars}">
                <td th:text="'key = '+${var.key}"></td>
                <td th:text=" 'value '+${var.value}"></td>
            </tr>
        </table>
    </div>
</div>-->

<!--<div class="background-image"></div>-->
<!--<img class="background-image" th:src="@{/resources/images/register_backgroound.jpg}" src="/resources/images/register_backgroound.jpg"></img>-->


<div class="col-sm-10 offset-sm-1 text-center ">

    <div class="card form-card">
        <legend>Activity Form</legend>
        <!--/*@thymesVar id="activityForm" type="com.happyweekend.spring.form.ActivityForm"*/-->
        <form th:object="${activityForm}"   name="activityForm" enctype="multipart/form-data"  th:action="@{/activity}" action="#" method="post">
            <input type="hidden" th:type="hidden" th:id="id"  name="id" th:value="*{id}"/>
            <fieldset>
                <div class="form-group" >
                    <div class="input-group " th:with="err=${#fields.hasErrors('name')}">
                        <label for="name" class=" col-form-label">Activity Name</label>
                        <input type="text" class="form-control" th:value="*{name}" id="name" name="name" placeholder="Activity Name" th:attrappend="class=${' '+(!err?'':'is-invalid')}"/>
                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{name}">Activity Name Error</div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group " th:with="err=${#fields.hasErrors('shortDescription')}">
                        <label for="shortDescription" class="col-form-label" >Activity short description</label>
                        <input type="text" id="shortDescription" name="shortDescription" th:value="*{shortDescription}" placeholder="Please describe shortly your activity" class="form-control" th:attrappend="class=${' '+(!err?'':'is-invalid')}"/>
                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{shortDescription}">Activity Short Description Error</div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group" th:with="err=${#fields.hasErrors('location')}">
                        <label for="location" class="col-form-label">Activity location</label>
                        <input type="text" th:class="form-control" th:value="*{location}" id="location" name="location" placeholder="Please describe where will be your activity"  th:attrappend="class=${' '+(!err?'':'is-invalid')}"/>
                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{location}">Activity Location Error</div>
                    </div>
                </div>
                <div class="form-row form-group" >
                    <div class="input-group " th:with="err=${#fields.hasErrors('description')}">
                        <label for="description" class="col-form-label">Activity description</label>
                        <textarea class="form-control"  id="description" name="description" th:value="*{description}" placeholder="Please fill with more detailed information about the event" aria-label="With textarea" th:attrappend="class=${' '+(!err?'':'is-invalid')}"></textarea>
                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{description}">Activity Description Error</div>
                    </div>
                </div>
                <div class="form-row form-group" >
                    <div class="input-group " th:with="err=${#fields.hasErrors('activityType')}">
                        <label for="description" class="col-form-label">Activity type</label>
                        <select class="form-control custom-select custom-select-lg " th:field="*{activityTypeId}"  th:value="*{activityTypeId}">
                            <option th:each="type : *{activityTypeList}" th:value="${type.id}" th:text="${type.name}">Open this select menu</option>
                        </select>
                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{activityType}">Activity Type Error</div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="input-group " th:with="err=${#fields.hasErrors('price')}">
                        <div class="input-group">
                            <label for="price" class="col-form-label ">Activity cost</label>
                            <input type="text" id="price" name="price" class="form-control" aria-label="Cost" th:value="*{price}"/>
                            <div  class="input-group-append">
                                <span class="input-group-text">$</span>
                            </div>
                            <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{price}">Price Error</div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="container" th:with="err=${#fields.hasErrors('date')}">
                        <div class="row">
                            <div class=''>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <label for="name" class=" col-form-label">Activity date</label>
                                        <input type='datetime-local' id="date" name="date" th:value="*{date}" class="form-control" />
                                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{date}">Date Error</div>
                                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group form-row">
                    <div class="custom-file">
                        <input type="file" th:id="file" name="file" class="custom-file-input" id="file"
                               accept="image/png"
                               onchange="readURL(this);"
                        >
                        <label class="custom-file-label" for="file">Select file</label>
                    </div>
                    <div class="col-sm-8 offset-sm-2 image-container">
                    <img src="" class="img-fluid"  id="imgPreview" th:src="*{imageBytes}">
                    </div>
                </div>

                <div class="form-actions text-center">
                    <button type="submit" class="btn btn-primary">Save Activity</button>
                </div>


            </fieldset>
        </form>
    </div>


        <!--<div class="stats">
            <a href="#" class=" stat-item interested">
                <i class="fa fa-thumbs-up icon "></i>Interested
                <i></i>
            </a>
            <a href="#" class="btn btn-default stat-item insecure">
                <i class="fa fa-thumbs-down icon"></i>Insecure
            </a>
            <a href="#" class="btn btn-default stat-item bad">
                <i class="fa fa-thumbs-down icon"></i>Imposible
            </a>
        </div>-->

    <!--/*@thymesVar id="activityForm" type="com.happyweekend.spring.form.ActivityForm"*/-->
    <div th:if="${activityForm.id>0}">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-white post panel-shadow" th:each="comment :${ activityForm.comments}">
              <div class="post-heading">
                  <div class="pull-left meta">
                      <div class="title">
                          <a href="#"><b th:text="${comment.person.firstName + ' ' + comment.person.lastName}">Ryan Haywood</b></a>
                      </div>
                  </div>
              </div>
              <div class="post-description h4">
                  <p th:text="${comment.comment}">...</p>

              </div>

            </div>
        </div>
        <div class="card form-card">
            <!--/*@thymesVar id="activityComment" type="com.happyweekend.spring.form.PersonActivityCommentForm"*/-->
            <form th:object="${activityComment}"   name="activityComment"   th:action="@{/activity/comment}" action="#" method="post">
                <input type="hidden" th:type="hidden" th:id="id" id="id" name="id" th:value="*{id}"/>
                <input type="hidden" th:type="hidden" th:id="personId" id="personId" name="personId" th:value="*{personId}"/>
                <input type="hidden" th:type="hidden" th:id="activityId" id="activityId" name="activityId" th:value="*{activityId}"/>

                <div class="form-row form-group" >
                    <div class="input-group " th:with="err=${#fields.hasErrors('comment')}">
                        <label for="description" class="col-form-label">Activity comments</label>
                        <textarea class="form-control" th:value="*{comment}"  id="comment" name="comment" placeholder="Please let your comments" aria-label="With textarea" th:attrappend="class=${' '+(!err?'':'is-invalid')}"></textarea>
                        <div th:if="${err}" class="" th:attrappend="class=' invalid-feedback'" th:errors="*{comment}">Activity Description Error</div>
                    </div>
                </div>
                <div class="form-actions text-center">
                    <button type="submit" class="btn btn-primary">Comment Activity</button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
