<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
    <!--<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">-->
    <link rel='stylesheet'

          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <!--<link rel='stylesheet' src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" >-->
    <link rel='stylesheet'

          th:href="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}">
    <script th:src="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous" ></script>-->
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"

    ></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous" ></script>-->
    <script
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>-->
    <!--<script
            th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" ></script>-->
    <script

            th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js}"></script>
    <script
        th:src="@{/resources/js/utils.js}"></script>
    <style>


        .card-img-top{
            max-height: 10rem;
            width: 100%;
            object-fit: cover;
        }

        .background-image {
            /*background-image: url('/resources/images/register_backgroound.jpg');*/
            background-size: cover;
            display: block;
            filter: blur(3px);
            -webkit-filter: blur(3px);
            height: 800px;
            left: 0;
            position: fixed;
            right: 0;
            z-index: -1;
            opacity: 0.3;
        }
        body{
            background-color: aliceblue;
        }

    </style>
    <script type="text/javascript">





    </script>
</head>
<body>
    <div th:replace="fragments/header_search :: header">
    </div>




    <img class="background-image" th:src="@{/resources/images/register_backgroound.jpg}" src="/resources/images/grarulhos.jpg"></img>
    <div class="container">



        <div class="row h-100 vertical-center-row justify-content-center align-items-center" th:if="${activities.size()==0}">
            <div class="col-12 text-center">
                <h1>Any result found. :(</h1>
            </div>
        </div>



        <!--/*@thymesVar id="activities" type="java.util.List<com.happyweekend.spring.form.ActivityForm>"*/-->
        <div class="hero-unit" th:each="i:${#numbers.sequence(0, activities.size(), 2)}">
            <div class="card-deck"  style="margin-top:1rem;">
                <div class="card" th:if="${activities.size()>j}" th:each="j:${#numbers.sequence(i,i+1)}" th:with="activity=${activities[j]}">
                    <!--<div class="card-header" th:text="${activity.name}">
                        Featured
                    </div>-->
                    <img src="" class="card-img-top"   id="imgPreview" th:src="${activity.imageBytes}">
                    <div class="card-body">
                        <div class="">
                            <h5 class="card-title" th:text="${activity.name}">Special title treatment</h5>
                            <p class="card-title" th:text="${activity.shortDescription}">Special title treatment</p>
                            <!--<p class="card-text" th:text="${activity.description}">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="#" class="btn btn-primary" th:href="@{activity/id/{id}(id=${activity.id})}">See</a>
                            <!--<a th:href="@{activity/id/activity.id}" class="badge badge-light">See/Edit</a>-->
                        </div>
                    </div>
                    <div class="card-footer text-muted"
                         th:id="'activityFooter'+${activity.id}">
                        2 days ago
                    </div>
                    <script>
                        /*<![CDATA[*/
                            var date = '[[${activity.date}]]';
                            var price = [[${activity.price}]];
                            var el = 'activityFooter' +'[[${activity.id}]]';
                            var bad = [[${activity.badReaction}]];
                            var maybe = [[${activity.morelessReaction}]];
                            var good = [[${activity.goodReaction}]];
                            var comments = [[${activity.comments.size()}]];
                            addFooterText(date,price,el,bad,maybe,good,comments);
                        /*]]>*/
                    </script>
                </div>

            </div>
        </div>
    </div>
</body>
</html>