<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
    <!--<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">-->
    <link rel='stylesheet'

          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <!--<link rel='stylesheet' src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" >-->
    <link rel='stylesheet'

          th:href="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css}">

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous" ></script>-->
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"

    ></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous" ></script>-->
    <script
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>-->
    <!--<script
            th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" ></script>-->
    <script

            th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<!--<div th:replace="fragments/header :: header">-->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Happy Weekend</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <!--<div class="nav-collapse collapse">-->

                <li class="nav-item active"><a class="nav-link"  th:href="@{/}">Home</a></li>
                <li class="nav-item active"><a class="nav-link" th:href="@{/activity}">New Activity</a></li>
                <li class="nav-item active"><a class="nav-link" th:href="@{/activity/search}">Search Activity</a></li>

                <!--</div>-->
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit" th:each="activity,estat :${activities}">
            <div class="row" >
                <div class="col-sm-6">
                    <div class="card">
                        <img src="" class="card-img-top"  id="imgPreview" th:src="${activity.imageBytes}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${activity.name}">Special title treatment</h5>
                            <p class="card-text" th:text="${activity.name}">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary" th:href="@{activity/id/{id}(id=${activity.id})}">See</a>
                            <!--<a th:href="@{activity/id/activity.id}" class="badge badge-light">See/Edit</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" th:if="${!(estat.count==estat.size)}">
                    <div class="card">
                        <img src="" class="card-img-top"  id="imgPreview" th:src="${activity.imageBytes}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${activity.name}">Special title treatment</h5>
                            <p class="card-text" th:text="${activity.name}">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary" th:href="@{activity/id/{id}(id=${activity.id})}">See</a>
                            <!--<a th:href="@{activity/id/activity.id}" class="badge badge-light">See/Edit</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>